.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.vscode
_test_out.txt
ledger_block.txt
stress_test.log
examples
target
.ll
dual_test_bins
exe